/* Base */
@import './base/variables.css';
@import './base/typography.css';
@import './base/cursor.css'; /* Cursor personalizado */

/* Components */
@import './components/buttons.css';
@import './components/speech-bubble.css';
@import './components/menu.css';
@import './components/content-block.css';
@import './components/footer.css';
@import './components/mapa.css';
@import './components/kpi.css';
@import './components/ingredient-card.css';
@import './components/map-legend.css';
@import './components/explanation-view.css';

/* Layouts */
@import './layouts/grid.css';
@import './layouts/sticky.css';

/* Animations */
@import './animations/keyframes.css';
@import './animations/transitions.css';

/* Visualizations */
@import './visualizations/circularGraph.css';
@import './visualizations/d3Sankey.css';
@import './visualizations/ingredientCharts.css';
@import './visualizations/tooltips.css'; /* Tooltips prehispánicos */
@import './visualizations/particleChart.css'; /* Gráfico de partículas p5.js */

@import './components/timeline.css';

/* Responsive Design */
@import './responsive.css';


