.sticky-section {
  min-height: 100vh;
  padding: 40px 0;
  position: relative;
}

/* Clase base compartida */
.sticky-image {
  position: sticky;
  top: 20px;
  height: 100vh;
  padding: 0 var(--spacing-sm);
  display: flex;
  overflow: hidden;
}

/* Clase específica para la imagen de Xolin */
.sticky-image-xolin {
  flex-direction: row; /* Cambio de column a row */
  align-items: center;
  justify-content: center;
}

/* Clase específica para el sankey */
.sticky-image-sankey {
  flex-direction: column;
}

.content-block {
  margin: 0 var(--spacing-sm);
  padding: var(--spacing-md);
  background: var(--color-white);
  border-radius: var(--border-radius-sm);
  box-shadow: var(--shadow-sm);
  opacity: 0;
  transform: translateY(20px);
  transition: all 0.5s ease-out;
}

.content-block.active {
  opacity: 1;
  transform: translateY(0);
}

/* Ajustes específicos para el primer y último bloque */
.content-block:first-child {
  min-height: 100vh;
  margin-bottom: 40vh;
}

.content-block:last-child {
  min-height: 100vh;
  margin-top: 40vh;
  margin-bottom: 40vh;
}