/* Transiciones generales */
.transition-all {
    transition: all 0.3s ease;
  }
  
  /* Transiciones específicas */
  .fade-enter {
    opacity: 0;
    transform: translateY(20px);
  }
  
  .fade-enter-active {
    opacity: 1;
    transform: translateY(0);
    transition: opacity 0.5s ease, transform 0.5s ease;
  }
  
  /* Efectos hover */
  .hover-scale {
    transition: transform 0.3s ease;
  }
  
  .hover-scale:hover {
    transform: scale(1.05);
  }
  
  .underline-animation {
    color: #013971; /* Color inicial */
    text-decoration: none; /* Elimina subrayado por defecto */
    transition: color 0.3s ease-in-out; /* Animación suave */
    font-weight: bold;
  }

  .animated-number {
    color: #013971;
    font-weight: bold;
    font-size: 2rem;
    transition: color 0.5s ease-in-out;
}

.ingredient-block .card {
  transition: transform 0.3s ease;
}

.ingredient-block .card:hover {
  transform: translateY(-5px);
}

.ingredient-block .card-title {
  font-size: 1.8rem;
  margin-bottom: 0.5rem;
  color: #013971;
}

.ingredient-block .card-text {
  font-size: 0.9rem;
  color: #666;
  text-align: center;
}

.ingredient-block .cardo-regular {
  line-height: 1.6;
  text-align: left;
}

.tarjeta{
  line-height: 1.6;
  text-align: center;
}